.about {
  h2 {
    font-weight: bold;
    font-size: 46px;
    line-height: 139%;
    color: $basic-color;
    letter-spacing: -0.005em;
    margin-top: 29px;
    margin-bottom: 27px;
    width: 393px;
  }

  p {
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;
    color: rgba($basic-color, 0.8);
    letter-spacing: -0.005em;
    display: flex;
    justify-content: start;
  }
}

@media ($tablet-widths-max) {
  .about {
    margin: 105px auto 80px;

    h2 {
      width: 525px;
      font-size: 30px;
      line-height: 140%;
      text-align: center;
      margin: 30px auto 19px;
    }

    p {
      width: 435px;
      font-size: 18px;
      line-height: 178%;
      text-align: center;
      margin: 0 auto;
      justify-content: center;
    }

    a {
      position: absolute;
      top: 25px;
      left: 22px;
    }
  }
}

@media ($mobile-widths-only) {
  .about {
    margin: 91px auto 70px;

    h2,
    p {
      width: 288px;
    }

    a {
      left: 17px;
    }
  }
}
