.about-video {
  background-color: $background-video-color;
  padding: 48px 133px 0;
  margin-bottom: 98px;

  h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -0.005em;
    color: $basic-color;
    text-align: center;
    margin: 71px auto 20px;
  }

  p {
    font-weight: 300;
    font-size: 16px;
    line-height: 175%;
    text-align: center;
    letter-spacing: -0.005em;
    color: rgba($basic-color, 0.7);
    width: 340px;
    margin: 0 auto -42px;
  }
}

.about-video__video-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 98px;

  img {
    width: 100%;
    max-width: 929px;
    height: auto;
  }

  a {
    position: absolute;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    text-decoration: none;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: $decorative-color;

    &:hover {
      box-shadow: 0 13px 11px rgba($link-menu-color, 0.4);
    }

    &::after {
      content: "";
      border: 10px solid transparent;
      border-left: 13px solid $button-video-color;
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      left: 29px;
      top: 23px;
    }
  }
}

@media ($tablet-widths-max) {
  .about-video {
    h2 {
      font-size: 24px;
      line-height: 30px;
      margin-top: 18px;
      margin-bottom: 20px;
    }

    p {
      width: 429px;
    }
  }

  .about-video__video-wrapper {
    top: 85px;

    button {
      width: 90px;
      height: 90px;

      &::after {
        border: 14px solid transparent;
        border-left: 17px solid #070707;
        left: 40px;
        top: 31px;
      }
    }
  }
}

@media  ($mobile-widths-only) {
  .about-video {
    padding: 48px 16px 0;

    h2 {
      margin-top: 35px;
    }

    p {
      width: 288px;
      margin: 0 auto 5px;
    }
  }

  .about-video__video-wrapper {
    top: 48px;

    button {
      width: 65px;
      height: 65px;

      &::after {
        border: 10px solid transparent;
        border-left: 13px solid $button-video-color;
        left: 29px;
        top: 23px;
      }
    }
  }
}
