.about-us {
  min-width: 1024px;
  max-width: 1166px;
  display: grid;
  justify-content: stretch;
  margin: 0 auto;

  h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: -0.005em;
    color: $text-other-color;
    text-align: center;
  }
}

.about-us__list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1166px;

  li {
    list-style-type: none;
    width: 255px;

    h3 {
      font-weight: bold;
      font-size: 28px;
      line-height: 136%;
      text-align: center;
      letter-spacing: -1.27273px;
      color: $decorative-color;
    }

    p {
      font-weight: normal;
      font-size: 22px;
      line-height: 155%;
      text-align: center;
      letter-spacing: -0.5px;
      color: $basic-other-color;
    }
  }
}
