.contacts__list {
  padding: 0;
  margin: 0 0 30px;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 90px;
  justify-content: center;
}

.contacts__item {
  list-style-type: none;
  display: flex;
  position: relative;
  margin-bottom: 10px;

  svg {
    position: absolute;
    left: 0;
  }

  a {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    color: rgba($basic-other-color, 0.5);
    text-decoration: none;
    padding-left: 42px;
    background-color: transparent;

    &:hover {
      box-shadow: 0 10px 11px rgba($link-menu-color, 0.4);
    }
  }
}

@media ($mobile-widths-only) {
  .contacts__list {
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-row-gap: 22px;
  }

  .contacts__item {
    justify-self: center;
  }
}
