.contacts__list {
  padding: 0;
  margin: 0 0 30px;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 68px;
  justify-content: center;
}

.contacts__item {
  list-style-type: none;
  display: flex;
  position: relative;
  margin-bottom: 10px;
  margin-right: 18px;

  svg {
    position: absolute;
    left: 1px;
    top: 1px;
  }

  a {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    color: rgba($basic-other-color, 0.5);
    text-decoration: none;
    padding-left: 42px;
    background-color: transparent;

    &:hover {
      box-shadow: 0 10px 11px rgba($link-menu-color, 0.4);
    }
  }

  .contacts__phone-icon {
    top: -3px;
    left: 7px;
  }
}

@media ($tablet-widths-max) {
  .contacts__list {
    grid-column-gap: 73px;
  }

  .contacts__item {
    margin-right: 12px;
  }
}

@media ($mobile-widths-only) {
  .contacts__list {
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    grid-row-gap: 13px;
  }

  .contacts__item {
    justify-self: center;
    margin-right: 0;

    &:nth-child(2n) {
      padding-right: 14px;
    }

    svg {
      left: 2px;
      top: 1px;
    }
  }

  .contacts__phone-icon {
    top: -3px;
    left: -2px;
  }
}
