.navigation {
  display: grid;
  width: 874px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.navigation__button-menu {
  display: none;
}

.navigation__list {
  margin: 0;
  padding: 20px 19px 9px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba($basic-color, 0.2);
  flex-wrap: wrap;
  box-sizing: border-box;
}

.navigation__item {
  list-style-type: none;
  display: flex;

  a {
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 200%;
    letter-spacing: -0.005em;
    color: rgba($basic-color, 0.7);
    background-color: transparent;

    &:hover {
      box-shadow: 0 13px 11px rgba($link-menu-color, 0.4);
    }
  }
}

@media ($tablet-widths-max) {
  .navigation {
    display: grid;
    width: 100%;

    &--close .navigation__button-menu {
      display: block;
      justify-self: end;
      position: relative;
      width: 50px;
      height: 50px;
      background-color: $decorative-color;
      border: none;
      cursor: pointer;
      border-radius: 0;

      &:hover {
        box-shadow: 0 13px 11px rgba($link-menu-color, 0.4);
      }

      &::before {
        content: "";
        position: absolute;
        top: 18px;
        right: 14px;
        width: 22.5px;
        height: 1px;
        border-radius: 1px;
        background-color: $basic-other-color;
        box-shadow: 0 5.5px 0 0 $basic-other-color, 0 11.5px 0 0 $basic-other-color;
      }
    }

    &--opened {
      position: fixed;
      z-index: 100;
      background-color: $basic-color;
    }

    &--opened .navigation__button-menu {
      display: block;
      justify-self: end;
      position: relative;
      width: 50px;
      height: 50px;
      background-color: transparent;
      border: 0;
      cursor: pointer;
      border-radius: 0;

      &::before,
      &::after {
        content: "";
        position: absolute;
        right: 9px;
        width: 33px;
        height: 1px;
        background-color: rgba($button-close-color, 0.2);
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    &--nojs .navigation__button-menu {
      display: none;
    }

    &--nojs {
      position: relative;
    }

    &--nojs .navigation__list {
      margin-top: 50px;
    }
  }

  .navigation__list {
    margin: 0;
    padding: 100px 0 138px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-bottom: none;
    height: 100vh;

    &--close {
      display: none;
    }

    &--nojs {
      display: flex;
    }
  }

  .navigation__item {
    min-height: 60px;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    background-color: $link-background-color;
    margin-bottom: 30px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 25px;
      right: 20px;
      background-image: url("../img/shape.svg");
      width: 8px;
      height: 12px;
    }

    a {
      font-size: 20px;
      line-height: 140%;
      color: $link-menu-color;
    }
  }
}
