.page-header {
  position: relative;
}

.page-header__about-form-wrapper {
  background: $text-other-color url("../img/background-desktop-1x.jpg") no-repeat;
  background-position: 50% 0;
  background-size: auto;
}

.page-header__container {
  max-width: 874px;
  margin: -51px auto 0;
  display: grid;
  grid-template-columns: min-content min-content;
  justify-content: space-between;
  padding-top: 317px;
  padding-bottom: 218px;
}

@media ($tablet-widths-max) {
  .page-header__about-form-wrapper {
    background-image: url("../img/background-tablet-1x.jpg");
  }

  .page-header__container {
    max-width: 100%;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: stretch;
    padding: 0;
    margin: 0;
  }
}

@media ($mobile-widths-only) {
  .page-header__about-form-wrapper {
    background-image: url("../img/background-mobile-1x.jpg");
  }

  .page-header__container {
    max-width: 767px;
    min-width: 320px;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: stretch;
    padding: 0;
    margin: 0;
  }
}
